*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0%;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
} 

.conteiner {
    width: 990px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 150px;
    display:flex;
    align-items: center;
}

.logo img {
    padding-left: 17%;
    width: 100px;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #727272;
    text-transform: uppercase;
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #fff;
}

.column {
    flex-direction: column;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url('../image/ganhar-dinheiro-internet-banner.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.banner-headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-headline h1 {
    max-width: 350px;
    color: white;
    font-size: 70px;
    text-shadow: 1px 1px 0 #555;
    margin: 0;
    padding: 0;
}

.banner-headline h2 {
    max-width: 300px;
    color: white;
    flex-wrap: wrap;
    font-size: 21px;
    text-shadow: 1px 1px 0 #555;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.banner-options {
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: white;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-title {
    font-size: 21px;
}

.banner-description {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-options a {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 5px;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}

.banner3 .descriptions {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
}

#body {
    display: flex;
    justify-content: center;
}

#body section {
    flex: 2;
}

#body aside {
    flex: 1;
}

.widget_title {
    padding-top: 30px;
    padding-bottom: 20px;
}

.widget_title_text {
    color: black;
    font-size: 21px;
    font-weight: bolder;
}

.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.widget_body {
    display: flex;
    flex-wrap: wrap;
}

.widget_body a {
    text-decoration: none;
}

article {
    flex: 1;
    width: 300px;
    margin-right: 20px;
}

article .news_data {
    display: flex;
}

article .news_posted_at {
    background-color: #2b4c99;
    color: #fff;
    font-size: 12;
    padding: 10px;
    margin-right: 2px;
}

article .news_coments {
    background-color: #39aae1;
    color: #fff;
    font-size: 12;
    padding: 10px
}

article .news_thumbnail {
    margin-top: 30px;
}

article .news_thumbnail img{
    width: 100%;
    height: auto;
}

.news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 23px;
}

.news_resume {
    font-size: 14px;
    color: #5c5c5c;
    line-height: 20px;
    margin-bottom: 30px;
}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu{
    display: flex;
}

.fm_1, .fm_2, .fm_3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}

.fm_1 {
    background-color: #39aae1;
}

.fm_2 {
    background-color: #0079c7;
}

.fm_3 {
    background-color: #2b4c99;
}

.footer_area {
    display: flex;
    color: #fff;
}

.flex_column {
    flex-direction: column;
}

.footer_area_item {
    flex: 1;
}

footer .widget_title_text {
    color: #fff
}

.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}